# Note, by default mysql root does not have a password. You need to restart a server to bring MYSQL_ROOT_PASSWORD working. Use "docker-compose restart" command.
MYSQL_ROOT_PASSWORD={{ database_root_password }}
MYSQL_PORT=3306
MYSQL_USER={{ database_user }}
MYSQL_PASSWORD={{ database_password }}
MYSQL_DATABASE={{ database_name }}
MYSQL_LOWER_CASE_TABLE_NAMES=0
